MyAirport/Client/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyAirportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyAirport.Entities" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyAirportService_DetailVol2_InputMessage">
    <wsdl:part name="parameters" element="tns:DetailVol2" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_DetailVol2_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailVol2Response" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_RechercherBagagesParIata_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercherBagagesParIata" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_RechercherBagagesParIata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercherBagagesParIataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_RechercherBagagesParIata_MultipleBaggageExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MyAirport.Entities" name="detail" element="q1:MultipleBaggageException" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_CreerBaggage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerBaggage" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_CreerBaggage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerBaggageResponse" />
  </wsdl:message>
  <wsdl:message name="IMyAirportService_CreerBaggage_PersoFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MyAirport.Entities" name="detail" element="q2:PersoFaultException" />
  </wsdl:message>
  <wsdl:portType name="IMyAirportService">
    <wsdl:operation name="DetailVol2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyAirportService/DetailVol2" message="tns:IMyAirportService_DetailVol2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyAirportService/DetailVol2Response" message="tns:IMyAirportService_DetailVol2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercherBagagesParIata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyAirportService/RechercherBagagesParIata" message="tns:IMyAirportService_RechercherBagagesParIata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyAirportService/RechercherBagagesParIataResponse" message="tns:IMyAirportService_RechercherBagagesParIata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMyAirportService/RechercherBagagesParIataMultipleBaggageExceptionFault" name="MultipleBaggageExceptionFault" message="tns:IMyAirportService_RechercherBagagesParIata_MultipleBaggageExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreerBaggage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyAirportService/CreerBaggage" message="tns:IMyAirportService_CreerBaggage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyAirportService/CreerBaggageResponse" message="tns:IMyAirportService_CreerBaggage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMyAirportService/CreerBaggagePersoFaultExceptionFault" name="PersoFaultExceptionFault" message="tns:IMyAirportService_CreerBaggage_PersoFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyAirportService" type="tns:IMyAirportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DetailVol2">
      <soap:operation soapAction="http://tempuri.org/IMyAirportService/DetailVol2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercherBagagesParIata">
      <soap:operation soapAction="http://tempuri.org/IMyAirportService/RechercherBagagesParIata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MultipleBaggageExceptionFault">
        <soap:fault use="literal" name="MultipleBaggageExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreerBaggage">
      <soap:operation soapAction="http://tempuri.org/IMyAirportService/CreerBaggage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PersoFaultExceptionFault">
        <soap:fault use="literal" name="PersoFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAirportService">
    <wsdl:port name="BasicHttpBinding_IMyAirportService" binding="tns:BasicHttpBinding_IMyAirportService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyAirport.Service/MyAirportService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>