MyAirport/Client/Service References/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyAirport.Entities" />
  <xs:element name="TestFaultException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v1" type="xs:int" />
        <xs:element minOccurs="0" name="v2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFaultExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestFaultExceptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MesParamatres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MesParamatresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="MesParamatresResult" nillable="true" type="q1:Parametres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMesParametres">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="parameters" nillable="true" type="q2:Parametres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonHistorique">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonHistoriqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="MonHistoriqueResult" nillable="true" type="q3:ArrayOfHistorique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="newVol" nillable="true" type="q4:VolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsDeLaCompagnie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compagnie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsDeLaCompagnieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherVolsDeLaCompagnieResult" nillable="true" type="q5:ArrayOfVolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsParDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsParDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherVolsParDateResult" nillable="true" type="q6:ArrayOfVolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsDuJour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVolsDuJourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherVolsDuJourResult" nillable="true" type="q7:ArrayOfVolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailVol2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailVol2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="DetailVol2Result" nillable="true" type="q8:VolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesDuVol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesDuVolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherBagagesDuVolResult" nillable="true" type="q9:ArrayOfBagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherBagagesParDateResult" nillable="true" type="q10:ArrayOfBagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesDuJour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesDuJourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherBagagesDuJourResult" nillable="true" type="q11:ArrayOfBagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailBagage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailBagageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="DetailBagageResult" nillable="true" type="q12:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParIata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParIataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherBagagesParIataResult" nillable="true" type="q13:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerBaggage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="baggage" nillable="true" type="q14:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerBaggageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreerBaggageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>