MyAirport/Client/Service References/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyAirport.Entities" />
  <xs:element name="DetailVol2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailVol2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="DetailVol2Result" nillable="true" type="q1:VolDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParIata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherBagagesParIataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="RechercherBagagesParIataResult" nillable="true" type="q2:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerBaggage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyAirport.Entities" minOccurs="0" name="baggage" nillable="true" type="q3:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerBaggageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreerBaggageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>